<!-- This is a static file -->
<!-- served from your routes in server.ts -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to Glitch!</title>
    <meta content="A cool thing made with Glitch" name="description"/>
    <link
            href="https://glitch.com/edit/favicon-app.ico"
            id="favicon"
            rel="icon"
            type="image/x-icon"
    />
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <!-- import the webpage's stylesheet -->
    <link href="/style.css" rel="stylesheet"/>

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
</head>

<body>
<header>
    <h1>A letter to Santa</h1>
</header>

<main>
    <p class="bold">Ho ho ho, what you want for Christmas?</p>
    <form>
        who are you?
        <input name="userid" placeholder="charlie.brown"/>

        what do you want for christmas?
        <textarea
                cols="45"
                maxlength="100"
                name="wish"
                placeholder="Gifts!"
                rows="10"
        ></textarea>
        <br/>
        <button type="submit" id="submit-letter">Send</button>
    </form>
</main>

<footer>
    Made with
    <a href="https://glitch.com">Glitch</a>!
</footer>

<!-- include the Glitch button to show what the webpage is about and
      to make it easier for folks to view source and remix -->
<div
        class="glitchButton"
        style="position: fixed; top: 20px; right: 20px"
></div>
<script src="https://button.glitch.me/button.js"></script>
</body>
</html>
